@page "/fetchuserdata"
@using UserAPIBlazorFrontendTest.Data
@using UserAPIBlazorFrontendTest.Models
@inject IUserService iUserService;


<PageTitle>User Data</PageTitle>

<h1>User Data</h1>

@if( userList == null){
    <h3>Loading ...</h3>
} else{
    @foreach (var User in userList)
    {
        <ul>
            <li>
                User Id: @User.Id
            </li>
            <li>
                First Name: @User.Firstname
            </li>
            <li>
                Last Name: @User.Lastname
            </li>
            <li>
                User Name @User.Username
            </li>
        </ul>
    }
    <label for="IdInput">Input UserId here: </label>
    <input name="IdInput" @bind="inputId" />
    <button name="ConfirmButton" @onclick=ReadUser>Confirm</button>

    <ul>
        <li>
            User Id: @userToGet.Id
        </li>
        <li>
            First Name: @userToGet.Firstname
        </li>
        <li>
            Last Name: @userToGet.Lastname
        </li>
        <li>
            User Name @userToGet.Username
        </li>
    </ul>
}

@code {
    private List<User> userList = new List<User>();
    private User userToGet = new User();
    private int inputId;

    protected override async Task OnInitializedAsync()
    {
        await GetAllUsers();
        Console.WriteLine("Here is the user to get: " + userToGet);
    }

    private async Task GetAllUsers()
    {
        userList = await iUserService.GetAllUsers();
    }

    public async Task ReadUser()
    {
        userToGet = await iUserService.ReadUser(inputId);
        Console.WriteLine("Here is the user to get: " + userToGet.Username);
    }
}